/* Here lies my CSS stylesheet*/
/* I created a whole colour palette for my site */
/* https://coolors.co/010916-011638-475873-8d99ae-bdb0a5-edc79b-6b0504 */
body {
  background-color: #8D99AE;
}
/* I want the lake picture to fill up the page width */
img {
	width: 100%;
}
h1 {
	text-align: center;
	color: #011638;
/* I want my text to look fancy and mystical but still readable */
	font.family: Garamond, Baskerville, serif;
}
h2 {
	text-align: center;
	color: #011638;
	font.family: Garamond, Baskerville, serif;
}
h3 {
	text-align: center;
	color: #011638;
	font.family: Garamond, Baskerville, serif;
}
/* I want the gender identity to be a different colour to pop off the page a bit, but I did also want to keep the smaller font */
h5 {
	text-align: center;
	color: #6B0504;
	font.family: Garamond, Baskerville, serif;
}
/* I want the main text to be a bit darker in contrast to the headings */
p {
	text-align: center;
	color: #010916;
	font.family: Garamond, Baskerville, serif;
}
/* formatting for the navbar! */
/* www.w3schools.com/css/css_navbar.asp ; ../css_navbar_horizontal.asp */
ul.botnav {
/* remove the bullet points since we don't need them */
  list-style-type: none;
/* margin and padding at zero removes browser defaults */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #011638;
}
ul.botnav li {
/* makes labels start at left of screen */
  float: left;
/* added a link block border for extra contrast */
  border-right: 1px solid #BDB0A5;
}
ul.botnav li a {
/* block display makes the whole area a clickable link*/
  display: block;
  color: #EDC79B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* I wanted a nice colour for when you hover on the link, re:colour palette referenced with background colour */
ul.botnav li a:hover:not(.active) {
  background-color: #475873;
}
ul.botnav li a.active {
	background-color: #6B0504;
}
/* added a navbar setting for if viewing in a small window or on a mobile device*/
/* found on w3schools*/
@media screen and (max-width: 600px) {
  ul.botnav li {float: none;}
}
/* www.educative.io/edpresso/how-to-add-a-line-break-using-css */
/* www.w3schools.com/css/css_pseudo_classes.asp */
/* needed to make line breaks, but this seems like a lot of work rather than using <br> in the middle of a p block */
/* can you give the same content id to multiple elements on one page without causing errors? */
#content1::after{
    content: "\a";
    white-space: pre;
}
#content2::after{
    content: "\a";
    white-space: pre;
}
#content3::after{
    content: "\a";
    white-space: pre;
}
#content4::after{
    content: "\a";
    white-space: pre;
}
#content5::after{
    content: "\a";
    white-space: pre;
}
#content6::after{
    content: "\a";
    white-space: pre;
}
#content7::after{
    content: "\a";
    white-space: pre;
}
#content8::after{
    content: "\a";
    white-space: pre;
}
#content9::after{
    content: "\a";
    white-space: pre;
}
#content10::after{
    content: "\a";
    white-space: pre;
}
#content11::after{
    content: "\a";
    white-space: pre;
}
#content12::after{
    content: "\a";
    white-space: pre;
}
#content13::after{
    content: "\a";
    white-space: pre;
}
#content14::after{
    content: "\a";
    white-space: pre;
}
#content15::after{
    content: "\a";
    white-space: pre;
}
#content16::after{
    content: "\a";
    white-space: pre;
}
#content17::after{
    content: "\a";
    white-space: pre;
}
#content18::after{
    content: "\a";
    white-space: pre;
}
#content19::after{
    content: "\a";
    white-space: pre;
}
#content20::after{
    content: "\a";
    white-space: pre;
}
